* {
    padding:0;
    margin: 0;
    color:white;
}
::-webkit-scrollbar{
    width: 5px;
    background: none;
}

::-webkit-scrollbar-thumb{
    background: #ffffff9e;
}
::-webkit-scrollbar-button{
    display: none;
}
.container {
    display:flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
.welcom{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.app-content{
    height: calc(100vh - 120px);
    overflow: auto;
}
.app-bar{
    height: 120px;
    padding: 0 20px;
}
.app-inbar{
    width: 100%;
    min-height: 10px;
    max-height: 15vh;
    height: auto;
    border:none;
    border-top:1px solid #2d7d76;
    word-wrap: break-word;
    overflow-y: scroll;
    font-size: x-large;
    background-image: linear-gradient(-90deg, #2d7d76, transparent);
    transition: 1s;
}

.app-inbar:focus{
    outline: none;
    min-height: 60px;
    border-top:1px solid green;
    background-image: linear-gradient(-90deg, green, transparent);
}

.app-approvebar{
    width: 100%;
    height: 60px;
    border:none;
    background-image:linear-gradient(-90deg,#5433ff,#20bdff,#a5fecb);
    border-top:1px solid red;
    font-size: x-large;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.send-btn{
    background-color:rgb(0, 255, 115);
    display: block;
    position: absolute;
    bottom:10px;
    right:10px;
}
.side{
    background:rgb(21, 60, 85);
    width: 30%;
    display: flex;
    flex-direction: column;
}
.main{
    background:rgb(33, 50, 73);
    width: 75%;
    display: flex;
    flex-direction: column;
}
.side > .app-bar{
    background-color: #113145;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main > .app-bar{
    background-color: #1b293c;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (max-width: 1280px){
    .side{ 
        width:100%
    }
    .main{
        display: none;
        width: 100%;
    }
}
